MyCraft/.DS_Store
.DS_Store
Build/
Index/
MinecraftX.xcodeproj/project.xcworkspace/xcuserdata/Clapeysron.xcuserdatad/UserInterfaceState.xcuserstate
MinecraftX.xcodeproj/xcuserdata/Clapeysron.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
